{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}DC19 - Cambiar Contraseña{% endblock %} {% block page_content %}


<style type="text/css">
    .col-md-4 {
        background: #fff;
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .page-header {
        background: #fff;
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>





<div class="page-header">
    <h1>Cambiar Contraseña</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}